@charset "UTF-8";
/* CSS Document */


h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	margin-left: 1%;
	position:absolute;
	z-index: 10;
}

p{
	font-family: 'Anonymous Pro', monospace;
	font-size: 13px;
	z-index: 11;
}
#car{
	margin-top: 7%;
	margin-left: 1%;
	position:absolute; 
	z-index: 2;
}
#thrift{
	margin-top: 3%;
	margin-left: 20%;
	position: absolute;
	z-index: 2;
}

#shoes{
	margin-left: 1%;
	margin-top: 45%;
	position:absolute; 
	z-index: 3;
}

#fountain{
	margin-left: 52%;
	margin-top: 33%; 
	position:absolute; 
	z-index: 2;
}

#skincare{
	margin-top: 22%;
	margin-left: 71%;
	position:absolute;
	z-index: 4;
}

#fountain{
	margin-top: 30%;
	margin-left: 53%;
	position: absolute
	
}
#house{
	margin-left: 72%;
	margin-top: 1%;
	position:absolute;
	z-index: 5;
}

#daycare{
	margin-top: 43%;
	margin-left: 85%;
	position: absolute;
	z-index: 1;
}
#gym{
	margin-top: 30%;
	margin-left: 18%;
	position: absolute;
	z-index: 1;
}

#candyad{
	margin-left: 35%;
	margin-top: 35%;
	position: absolute;
	z-index: 5;
}
#dogad{
	margin-left: 69%; 
	margin-top: 45%; 	
	position:absolute; 
	z-index: 5;
}

#smartwatch{
	margin-top: 2%;
	margin-left: 40%;
	position: absolute;
	z-index: 5;
}
#mensclothes{
	margin-top: 8%;
	margin-left: 55%;
	position: absolute;
	z-index: 8;
	float: left;
}

.typing{
	margin-top: 65%;
	margin-left:35%;
	position:absolute;
	z-index: 6;

}